<div class="parallax-container">
    <h1 class="center white-text your-turn">YOUR TURN</h1>
    <div class="parallax">
        <img src="https://i.imgur.com/jiNLvLxh.jpg">
    </div>
</div>
<div class="section grey lighten-5">
    <div class="container">
        <div class="row">
            <h2 id="pick-city" class="center">Pick Your City</h2>    
        </div>
    </div>
    <div class="group">
        <div class="card boston">
            <div class="card-image z-depth-5 hoverable">
                <a href="/city/{{cities.[0]._id}}"><img src="{{cities.[0].img}}"></a>
                <span class="card-title"><span class="pic-title">{{cities.[0].city}}</span></span>          
            </div>
        </div>
        <div class="card boston">
            <div class="card-image z-depth-5 hoverable">
                <a href="/city/{{cities.[1]._id}}"><img src="{{cities.[1].img}}"></a>
                <span class="card-title"><span class="pic-title">{{cities.[1].city}}</span></span>          
            </div>
        </div>
    </div>  

    <div class="group">
        <div class="card boston">
            <div class="card-image z-depth-5 hoverable">
                <a href="/city/{{cities.[2]._id}}"><img src="{{cities.[2].img}}"></a>
                <span class="card-title"><span class="pic-title">{{cities.[2].city}}</span></span>          
            </div>
        </div>
        <div class="card boston">
            <div class="card-image z-depth-5 hoverable">
                <a href="/city/{{cities.[3]._id}}"><img src="{{cities.[3].img}}"></a>
                <span class="card-title"><span class="pic-title">{{cities.[3].city}}</span></span>          
            </div>
        </div>
    </div> 
    

<br>

<!--
<div class="container">
    <div class="row">
        <h2 class="center">Pick Your City</h2>    
    </div>
</div>

<br>

<div class="group">
   <div class="card">
        <div class="card-image z-depth-5 hoverable">
            <a href="/city/{{cities.[0]._id}}"><img src="{{cities.[0].img}}"></a>
            <span class="card-title"><span class="pic-title">{{cities.[0].city}}</span></span>          
        </div>
    </div>
    <div class="card boston">
        <div class="card-image z-depth-5 hoverable">
            <a href="/city/{{cities.[1]._id}}"><img src="{{cities.[1].img}}"></a>
            <span class="card-title"><span class="pic-title">{{cities.[1].city}}</span></span>          
        </div>
    </div>
</div>  

<div class="group">
    <div class="card">
        <div class="card-image z-depth-5 hoverable">
            <a href="/city/{{cities.[2]._id}}"><img src="{{cities.[2].img}}"></a>
            <span class="card-title"><span class="pic-title">{{cities.[2].city}}</span></span>          
        </div>
    </div>
    <div class="card">
        <div class="card-image z-depth-5 hoverable">
            <a href="/city/{{cities.[3]._id}}"><img src="{{cities.[3].img}}"></a>
            <span class="card-title"><span class="pic-title">{{cities.[3].city}}</span></span>          
        </div>
    </div>
</div> 
-->

