<div>
    
    <h1>Meet ups</h1>
    
    {{#each city.meetUp}}
        <h3><a href="/city/{{../city._id}}/meetUp/{{this._id}}">{{this.location}}</h3></p>
        <a href="/city/{{../city._id}}/meetUp/{{this._id}}/delete">Delete</a>
        <hr>
    {{/each}}
    <br>
    
    <a href="/city/{{city._id}}/meetUp/new">Create a Meet Up</a>
    
    <br>
    <br>
   
    <a href="/city">Home</a>
    
</div>