<div class="grey lighten-5">    
    <nav class="vertical-align grey darken-2">
        <div class="nav-wrapper ">
        <a href="/city" class="brand-logo your-turn-nav">YOUR TURN</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="underline"><a href="/city/{{city._id}}/meetUp/new">Create a Meet Up</a></li>
            <li class="underline"><a href="/city">Home</a></li>
        </ul>
        </div>
    </nav>
    <div class="grey lighten-5">
        <div class="group">
            <h1 class="show-title"> 
                {{#each city}}  
                    {{this.city}} 
                {{/each}} 
                Meet Ups
            </h1>      
        </div>
        <div>
            {{#each city.meetUp}}
                <h3 id="city-info" class="center hoverable"><a href="/city/{{../city._id}}/meetUp/{{this._id}}" class="">{{this.location}}</h3>
            <!-- <a href="/city/{{../city._id}}/meetUp/{{this._id}}/delete" class= "delete">Delete</a> -->
            {{/each}}
        </div>
    </div>
</div>