<div class="grey lighten-5">
    <nav class="vertical-align #90a4ae blue-grey lighten-1">
        <div class="nav-wrapper ">
            <a href="/city" class="brand-logo your-turn-nav hoverable">YOUR TURN</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="underline"><a href="/city/{{cityId}}/meetUp/{{meetUp._id}}/boardGame/new">Create a Game</a></li>
                <li class="underline"><a href="/city/{{cityId}}">MeetUps</a></li>
                <li class="underline"><a href="/city">Home</a></li>
            </ul>
        </div>
    </nav>
    <div>

        <h1 id="show-title"class="center">{{meetUp.location}}</h1>
        <h4 id="meetup-info" class="center">{{meetUp.date}}</h4>
        <h5 id="meetup-info" class="center">@</h5>
        <h4 id="meetup-info" class="center">{{meetUp.time}}</h4>

        <br> {{#each meetUp.boardGame}}
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card-small z-depth-5 hoverable">
                    <h5 class="center"><span id="date-info">{{this.date}}</span> <br> <span id="game-info">{{this.name}}</span></h5>
                    <div class="edit-delete">
                            <a href="/city/{{../cityId}}/meetUp/{{../meetUp._id}}/boardGame/{{this._id}}/edit" class="btn-flat waves-effect edit"><i class="material-icons">edit</i></a>
                            <a href="/city/{{../cityId}}/meetUp/{{../meetUp._id}}/boardGame/{{this._id}}/delete" class="btn-flat waves-effect delete"><i class="material-icons">delete</i></a>
                    </div> 
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
