<div class="grey lighten-5">  
    <nav class="vertical-align grey darken-2">
        <div class="nav-wrapper ">
        <a class="brand-logo your-turn-nav">YOUR TURN</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="underline"><a href="/city/{{cityId}}/meetUp/{{meetUp._id}}/boardGame/new">Create a Game</a></li>
            <li class="underline"><a href="/city/{{cityId}}">MeetUps</a></li>
            <li class="underline"><a href="/city">Home</a></li>
        </ul>
        </div>
    </nav>
    <div>
        
        <h1 class="center">{{meetUp.location}}</h1>
        <h3 class="center">{{meetUp.date}}</h3>
        <h3 class="center">{{meetUp.time}}</h3>
        
        <br>

        {{#each meetUp.boardGame}}
            <h5 class="center">{{this.name}} -- {{this.date}} </h5>
            <div class="edit-delete">
                <a href="/city/{{../cityId}}/meetUp/{{../meetUp._id}}/boardGame/{{this._id}}/edit" class="edit">Edit</a>
                <a href="/city/{{../cityId}}/meetUp/{{../meetUp._id}}/boardGame/{{this._id}}/delete" class="delete">Delete</a>
            </div>
            
        {{/each}}
    </div>
</div>