<div>
    
    <h1>{{meetUp.location}}</h1>
    <h2>{{meetUp.date}}</h2>
    <h3>{{meetUp.time}}</h3>
    

    {{#each meetUp.boardGame}}
        {{#each meetUp.boardGame}}
          <div>
              <table>
                  <tbody>
                    <tr>
                        <td><h5 class="center">{{this.name}} -- {{this.date}} </h5>
                        <div class="edit-delete">
                            <a href="/city/{{../cityId}}/meetUp/{{../meetUp._id}}/boardGame/{{this._id}}/edit" class="edit">Edit</a>
                            <a href="/city/{{../cityId}}/meetUp/{{../meetUp._id}}/boardGame/{{this._id}}/delete" class="delete">Delete</a>
                        </div>
                    </tr>
                  <tbody>
              </table>
          </div>   
        {{/each}}
    {{/each}}
    <br>
    <a href="/city/{{cityId}}/meetUp/{{meetUp._id}}/boardGame/new">Create a Game</a>
    <br>
    <br>
    <a href="/city/{{cityId}}">Back to MeetUps</a>

</div>